pre-commit
transformers==4.11.3
datasets==1.16.1
sentencepiece
ujson
numpy
tqdm
dataclasses
typing
rouge_score
absl-py
sacrebleu<2.0
rouge==1.0.1
hydra-core
s3fs
boto3
nltk==3.6.5
pytorch_lightning==1.6.3
protobuf==3.20.1