hydra-core==1.2
transformers==4.20
deepspeed==0.6.1
pre-commit
datasets==1.11.0
tqdm==4.64.0
typing
absl-py
s3fs==2022.3.0
boto3==1.21.43
git+https://github.com/leezu/metrics@workaround-484#egg=torchmetrics
https://github.com/leezu/apex/tarball/fc7a3a9bd4e7c5295ca1eca05da83e7a16686087
ninja==1.10.2.3
